<%- include("partials/header"); -%>

<div class="container top-container">
    <h1 class="text-secondary">About</h1>
    <p>Neque laoreet suspendisse interdum consectetur libero id faucibus. In est ante in nibh mauris cursus mattis. Sit
        amet nisl suscipit adipiscing bibendum est ultricies integer quis. Gravida cum sociis natoque penatibus et
        magnis dis parturient. Quam adipiscing vitae proin sagittis nisl. Eu facilisis sed odio morbi quis commodo odio
        aenean. Congue eu consequat ac felis. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi
        tincidunt. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Fusce ut placerat orci nulla.</p>
</div>

<%- include("partials/footer"); -%>