<%- include("partials/header"); -%>

<div class="container top-container">
    <h1 class="text-secondary">Contact</h1>
    <p>Tincidunt augue interdum velit euismod in pellentesque massa. Massa eget egestas purus viverra accumsan in nisl.
        Leo duis ut diam quam nulla. Sollicitudin tempor id eu nisl nunc. Sodales ut etiam sit amet nisl purus.</p>
</div>

<%- include("partials/footer"); -%>