<%- include("partials/header"); -%>

<div class="container top-container">
    <h1>Hi there, guys!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ullamcorper eget nulla facilisi etiam dignissim diam. Pretium vulputate sapien nec sagittis
        aliquam malesuada bibendum arcu. Dolor sit amet consectetur adipiscing elit duis. Morbi tempus iaculis urna id
        volutpat lacus laoreet. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. Lacinia at
        quis risus sed vulputate. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Justo donec enim
        diam vulputate ut pharetra. Ipsum a arcu cursus vitae congue mauris rhoncus. Scelerisque purus semper eget duis
        at tellus at. Sem et tortor consequat id porta nibh venenatis. In iaculis nunc sed augue lacus. Ullamcorper
        dignissim cras tincidunt lobortis. Sed vulputate odio ut enim blandit. Egestas maecenas pharetra convallis
        posuere morbi leo urna. Condimentum lacinia quis vel eros donec ac odio tempor orci. At volutpat diam ut
        venenatis. Ornare aenean euismod elementum nisi quis eleifend quam.</p>
    <a href="/compose"><button type="button" class="btn btn-secondary">Compose a new post</button></a>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
</div>


<%- include("partials/footer"); -%>